/* 本项目公共样式 */
.page{
	background-color: #F4F4F4;
	height: 100%;
}
.bg-light{
	background-color: #F5F5F4!important;
}
.bg-main{
	background-color: #009CFF!important;
}
.bg-main-hover{
	background-color: #36B1FE!important;
}
.bg-main-disabled{
	background-color: #36B1FE!important;
}
/* .bg-input{
	background-color: #F2F2F2!important;
}

.text-placeholder{
	color: #999999!important;
} */
.text-main{
	color: #009CFF!important;
}
.text-main-hover{
	color: #36B1FE!important;
}
.border-main{
	border-color: #009CFF!important;
}
.line-h{
	line-height: 1.2!important;
}
.f-divider{
	height: 20rpx;background-color: #F5F5F4;
}
.border-light-secondary{
	border-color: #f4f4f4!important;
}
.bg-success{
	background-color: #00D28B!important;
}
.bg-warning{
	background-color: #FB7D30!important;
}

.top-bar{
				padding-top: var(--status-bar-height);
				z-index:1;
				position: fixed;
				width: 100%;
				display: flex;
				height: 88rpx;
				justify-content: space-between;
				align-items: center;
				background-color: #FFFFFF;
				box-shadow: 0px 1px 0px 0px rgba($color: #8f8f8f, $alpha: 0.1);
				.top-bar-left{
					flex: 1;
					image{
						width: 68rpx;
						height: 68rpx;
						border-radius: 50%;
						margin-left: 20rpx;
					}
				}
				.top-bar-center{
					flex: 1;
					text-align: center;
				}
				.top-bar-right{
					flex: 1;
					display: flex;
					justify-content: flex-end;
					.search{
						width: 88rpx;
						height: 88rpx;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.add{
						height: 88rpx;
						width: 88rpx;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					image{
						width: 52rpx;
						height: 52rpx;
						border-radius: 52rpx;
					}
				}
}
